@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Oswald:wght@200&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 8px;
}
.Reacciones{
    display: flex;
    justify-content: space-between 15px;
font-family: 'Times New Roman', Times, serif-;
}
.todo{
    border-style: ridge;
    border-radius: 10px;
}

.pagina{
    font-family: 'Instrument Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Comentario{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
 
.link{
    color: #3b07f8;
}

body{
    background-color: #52a89d;
}